<div class="main-table-wrapper">
  <table class="main-table">
    <tbody>
      <!-- header -->
      <tr>
        <td class="orange_header_td">
          <%= erb :_header %>
        </td>
      </tr>
      <!-- break between header and table of posts -->
      <tr style="height:10px"></tr>
      <!-- table of posts -->
      <tr>
        <td>
          <!-- table for post title, and box for adding comment -->

          <% if @post %>
            <%= erb :_post_and_comment_box %>
          <% end %>

          <br>
          <br>
          <!-- all comments on post -->
          <table>
            <tbody>
              <!-- each comment -->
              <% @comments.each do |comment| %>
              <tr>
                <td>
                  <table>
                    <tbody>
                      <tr class="subtext">
                        <td class="comments_arrow_td"><img src="https://news.ycombinator.com/grayarrow.gif"></td>
                        <td>
                          <a href="/users/<%= comment.user.id %>"><%= comment.user.username %></a>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="font13-black">
                          <%= comment.text %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <br>
        </td>
      </tr>
      <!-- footer -->
      <tr></tr>
    </tbody>
  </table>
</div>
